{% extends "layout.html" %}
{% from "_layout_helpers.html" import list_search_widget %}
{% block title %}{{ g.title }}{% endblock %}
{% block head %}
{{ super() }}
<style>
    .no_access{
        color:#888;
        cursor:no-drop;
    }
</style>
{% endblock head%}

{% block body %}
  	<p id="addRecord"><a href="{{ g.adminURL }}">Add a new record</a>
    &nbsp;&nbsp;{{ list_search_widget('user',{'Id':0,'Nane':1,'Email':2,'Status':3},1) }}
    </p>
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr  class="w3-primary-color">
			<th>Id</th>
			<th>Name</th>
			<th class="w3-hide-small">Email</th>
			<th>Status</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td class="{% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{{ rec.id }}</td>
			<td class="{% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{{ rec.first_name }} {{ rec.last_name}}</td>
			<td class="w3-hide-small {% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{{ rec.email|default("",true) }}</td>
			<td class="{% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{% if rec.active == 1 %}Active{% else %}<em>Inactive</em>{% endif %}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
    
{% endblock %}
