{#build table_list_data#}

{% include 'list_header_row.html'%}

{% if data.recs %}
    {% for rec in data.recs %}
    <tr>
		<td class="w3-hide-small {% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{{ rec.id }}</td>
		<td class="{% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{{ rec.full_name}}</td>
		<td class="w3-hide-small {% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{{ rec.email|default("",true) }}</td>
		<td class="w3-hide-small {% if user_rank < rec.max_rank %}no_access"{% else %}" onclick="window.location='{{ g.editURL }}{{rec.id}}/'"{% endif %} >{% if rec.active == 1 %}Active{% else %}<em>Inactive</em>{% endif %}</td>
    </tr>
    {% endfor %}
{% else %}
    <tr><td colspan='{{ data.list_fields | length }}'>No records match your search</td></tr>
{% endif %}
</table>

{% if data.recs %}
{% set rec_count = data.recs | length %}
<p class="list_record_count">{{ rec_count }} {{ "record" | plural(rec_count)}}.</p>
{% endif %}