{# a simple quiz to deter bots #}
<div id='contact-quiz' >
    <p>
        {{ label_only("To prove you are an actual human, <strong>Please answer the following quiz</strong>:")}}
    </p>
    <p>
        If a bicycle has 2 wheels, and a tricycle has 3 wheels, how many wheels does a unicycle have?
    </p>
    <div class="w3-col s0 m1 l1">&nbsp;</div>
    <div class="w3-col s12 m11 l11">
        <p class="w3-row" ><label><input type="radio" value="A" name="quiz_answer" /> A: A Unicycle is a mythical beast</label></p>
        <p class="w3-row" ><label><input type="radio" value="B" name="quiz_answer" /> B: Four? No, wait!... 6?</label></p>
        <p class="w3-row" ><label><input type="radio" value="C" name="quiz_answer" /> C: Just one</label></p>
        <p class="w3-row" ><label><input type="radio" value="D" name="quiz_answer" /> D: Two like a bike, but you only use one</label></p>
        <p><em>(Hint: the answer is C)</em></p>
    </div>
</div>
