{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block fieldset %}
<fieldset>
    {% set is_locked = '' %}
    {% set extras = '' %}
    {% if rec.locked | int == 1 %}
        {% set is_locked = ' checked="checked" ' %}
        {% set extras = 'readonly="readonly"' %}
    {% endif %}
    
    <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
     {% if not super_user %}
         {{ input_field(rec.locked,"locked",type="hidden",default=0)}}
         {% if is_locked %}
         <p>{{ label_only("This Role is locked for system use. Requires Super user access.")}}</p>
         {% endif %}
    {% else %}
        <p>{{ checkbox_field('locked',"locked", label="Lock for system use.", extras=is_locked)}}</p>
        {% set extras = '' %}
    {% endif %}
    <p>{{ input_field(rec.name,"name",req=True, extras=extras)}}</p>
    <p>{{ input_field(rec.rank,"rank",req=True, extras=extras)}}</p>
    <p>{{ input_field(rec.description,"description", extras=extras)}}</p>
</fieldset>
{% endblock %}
