{# Edit these to change the basic styling #}
    {% macro label_color(req=False) %} {# background color #}
    {% if req %}w3-label-req {%else%}w3-label-color {%endif%}
    {% endmacro %}

    {% macro label_text(req=False)%}
    {% if req %}w3-text-req{%else%}{%endif%}
    {% endmacro %}

{# Sample code to use... #}
    {# from _form_helpers.html import input_field  #}
    {# {{ input_field(rec.name,"name","Your Name",req=True) }} #}

{% macro input_field(value,name,label="",type="text",id=None,class="",req=False,placeholder="",default="",extras="") %}
{% if type!="hidden" and label != None %}
    {{ make_label(label,name,req) }}
</label>
{% endif %}
{% set baseclass = "w3-input" %}
    {% if type=="radio" %}{% set baseclass = "w3-radio" %}{% elif type=="checkbox"%}{% set baseclass = "w3-check" %}{% endif %}
    <input class="{{baseclass}} {{ class }}" type="{{type}}" name="{{name}}" {%if id %}id="{{id}}"{% endif %}
    {%if req %}required{%endif%} value="{{ value | default_if_none(default) }}" 
    {% if placeholder%}placeholder="{{placeholder}}"{%endif%} {{extras | safe }} >
{% endmacro %}

{% macro select_field(name,label="",type="",id=None,class="",req=False,placeholder="",default="",extras="") %}
{{ make_label(label,name,req) }}
<select name="{{name}}" {%if id %}id="{{id}}"{% endif %} class="w3-select {{class}}" {{extras | safe }}>
{# Be sure to provide the closing </select> tag after inserting your <option> items #}
{% endmacro %}

{% macro _radio_input_element(value,name,type,id,class,extras) %}
<input type="{{type}}"  class="{{class}}" name="{{name}}" {%if id %}id="{{id}}"{% endif %} value="{{value}}" {{ _get_checked(value) }} {{extras | safe }}>
{% endmacro %}


{% macro _get_checked(value) %}
    {% if value | string | lower in "1~yes~true~ok"%}
    checked
    {% endif %}
{% endmacro%}


{% macro _radio_label_element(name,label,req) %}
{% if label != None %}
<span class="w3-tag {{ label_color(req)}} {{label_text(req)}}">{{ get_label_text(label,name)}}</span>
{% endif %}
{% endmacro %}


{% macro radio_field(value,name,label="",type="radio",id=None,class="",req=False, placeholder="",default="",extras="",right=False) %}
{% set baseclass = 'w3-radio'%}
{% if type == "checkbox"%}{% set baseclass = 'w3-check'%}{%endif%}
{% set class = baseclass + " " + class %}
{% if right %}
    <label><span style="white-space: nowrap;">{{ _radio_label_element(name,label,req)}}{{ _radio_input_element(value,name,type,id,class,extras+' style="width:inherit;"') }}</span></label>
{% else %}
    <label><span style="white-space: nowrap;">{{ _radio_input_element(value,name,type,id,class,extras+' style="width:inherit;"') }}{{ _radio_label_element(name,label,req)}}</span></label>
{% endif%}
{%endmacro%}

{% macro checkbox_field(value,name,label="",type="checkbox",id=None,class="",req=False,placeholder="",default="",extras="",right=False) %}
{{radio_field(value,name,label,type,id,class,req,placeholder,default,extras,right)}}
{%endmacro%}

{% macro label_only(label="Label",req=False)%}
{{ make_label(label,'',req) }}
{%endmacro%}

{% macro make_label(label,name,req,class='w3-block') %}
{% if label != None %}
<label class="{{ class }} {{ label_color(req)}} {{label_text(req)}}">{{ get_label_text(label,name)}} {% if req %}<em class="w3-small {{label_text(req)}}">(required)</em>{%endif%}</label>
{% endif %}
{% endmacro %}

{% macro get_label_text(label,name) %}
{% if label %}{{ label | safe }}{% else%}{{ name | replace("_"," ") | title }}{%endif%}
{% endmacro %}