{# the standard Admin based menus #}
{% if g.admin and g.admin.has_access(g.user)%}
	<div style="display:none"><div style="display:none"><!-- just a place holder -->
	{% for item in g.admin.permissions %}
		{% if g.admin.has_access(g.user,item['table']) and item['add_to_menu'] %}
			{% if item['header_row'] == True or item['top_level'] == True %}
 			</div></div>
          {% endif %}
			{% if item['top_level'] == True %}
            <div><div>
                 <a  class="w3-bar-item w3-button w3-menu-border w3-menu-color w3-menu-hover-color" href="{{ item.url }}">{{ item.display_name }}</a>
			{% elif item['header_row'] == True %}
			<div class="w3-dropdown-hover w3-bar-block">
				<button class="w3-button w3-menu-border w3-drop-menu-section-color w3-drop-menu-section-hover-color"><strong>{{item['display_name']}}</strong></button>
				<div class="w3-dropdown-content w3-card-4">
			{% else %}
				<a  class="w3-bar-item w3-button w3-menu-border w3-drop-menu-color w3-drop-menu-hover-color" href="{{item['url']}}">{{item['display_name']}}</a>
			{% endif %}
		{% endif %}
	{% endfor %}
		</div></div>
{% endif %} <!-- g.admin -->
