<!-- Add scripts and styles for the anytime date time picker -->
<link rel="stylesheet" href="{{ url_for('static',filename='anytime/anytime.5.2.0.css')}}" />
<script src="{{ url_for('static',filename='anytime/anytime.5.2.0.js')}}"></script>
<script src="{{ url_for('static',filename='anytime/anytime_extras.js')}}"></script>
<script>
    function addPicker(input_id,format){
        $('#' + input_id).AnyTime_noPicker().AnyTime_picker({format: format}).focus();
    }
    
    function set_date_picker(field,format,value){
        // field is a string of field id name
        // format is a string of 'date', 'datetime' or  valid JS date format
        
        var date_format = "%c/%e/%y %l:%i%p"; // "3/4/19 06:00AM" 
        if (format.toLowerCase() == 'datetime' ){date_format = "%c/%e/%y %l:%i%p";}
        else if (format.toLowerCase() == 'date' ){date_format = "%c/%e/%y";}
        else { date_format = format ;}
        
        // the value of the field must match the date format or the picker defaults to today 
        //.  instead of the value of the field.
        if (value != undefined){
            $("#" + field).val(value)
        }
        
         /* 
             you must remove the pickers before dismissing the form
             else they will not be reattached the next time the form opens
         */
         $("#" + field).AnyTime_noPicker().AnyTime_picker({ format: date_format } );                
        }
    
</script>
<style>
    .DatePickerButton{
        border:.5pt #aaa solid;
        padding: 1.5pt 3pt 3pt 3pt;
    }
</style>
    
