{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, option_select_field, radio_field, checkbox_field, label_only %}

{% set type_list = ["text"] %}
{% set value_list = [0] %}

{% block fieldset %}
<fieldset>
    {% for field in data.edit_fields %}
        {% set _ = value_list.pop()%}
        {% set _ = value_list.append(data.rec.__getattribute__(field['name']))%}
        {% if field['type'].lower() == 'hidden' or field['name'] == "id" %}
            <input type="hidden" name="{{ field['name'] }}" value="{{value_list[0] | default(0,True) }}" id="{{ field['name'] }}" />
        {% elif field['type'].lower() == 'textarea' %}
            <p>{{ label_only(field['label'],req=field['req'],) }}</p>
            <p>
                <textarea style="width:100%;" rows="6" name="{{ field['name'] }}" id="{{ field['name'] }}"
                    {% if field['req'] %}>required{% endif %}
                     {% if field['extras'] %}>{{ field["extras"] }}{% endif %}
                >{{ value_list[0] | default('',True)}}</textarea>
            </p>
            {% elif field['type'] == 'select' %}
            <p>
                {{ option_select_field(value_list[0],field['name'],label=field['label'],id=field['name'],options=field['options'],class="",req=field['req'],extras=field['extras']) }}
            </p>
        {% elif field['type'].lower() == 'raw' %}
            {# display exactly as provided #}
            {{ field['content'] | safe }}
        {% elif field['type'].lower() == 'label_only' %}
            <p>{{ label_only(field['label'],req=field['req'],) }}</p>
        {% else %}
            <p>{{ input_field(value_list[0],field['name'],type=field['type'],id=field['name'],label=field['label'],req=field['req'],default=field['default'],placeholder=field['placeholder'],extras=field['extras'])}}</p>
        {% endif%}
    {% endfor %}
</fieldset>
{% endblock fieldset %}

{% block head %}
{{ super() }}
{% if not data or data.use_anytime_date_picker %}
{% include "anytime_head.html"%}
    <script>
    {% for field in data.edit_fields %}
    {% if field['type'].lower() == 'date' or field['type'].lower() == 'datetime' %}
    $(document).ready(function(){set_date_picker("{{field['name']}}","{{field['type']}}","{{ data.rec.__getattribute__(field['name'])}}");});
    {% endif %}
    {% endfor %}
</script>
{% endif %}
{% endblock head %}