{# this inserts the js to set the sort direction for columns and opens the <table> block 
Remember the </table> in the file that includes this
#}

{% include "list_order_ready.js"%} {# set the sort colunn directions from session #}

<table class="datatable w3-table w3-striped w3-hoverable">
<tr class="w3-primary-color">
{% for col in data.list_fields %}
    <th class="{{ col.class }} sg-sortable" id="{{ col.name }}" 
        name="{{ col.name }}"
        direction="0"
        onclick="order_changed(this);">
        {{ col.label }}</th>
{% endfor %}
</tr>
<!-- <tr>
    <td colspan="3">{{ session }}</td>
</tr> -->