{# this may be replace via AJAX response following a search targeting <div id="sg-table-list"> #}


{#build table_list_data#}
{% include 'list_header_row.html'%}

{% if data.recs %}
    {% for rec in data.recs %}
    <tr>
        {% for col in data.list_fields%}
            <td onclick="window.location='{{g.editURL}}{{rec.id}}/'" class="{{col.css}}">{{rec.__getattribute__(col['name'])}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
{% else %}
    <tr><td colspan='{{ data.list_fields | length }}'>No records match your search</td></tr>
{% endif %}

</table>
