{# this may be replace via AJAX response following a search targeting <div id="sg-table-list"> #}

{#build table_list_data#}
{% include 'list_header_row.html'%}

{% if data.recs %}
    {% set value = [''] %}
    {% for rec in data.recs %}
    <tr>
        {% for col in data.list_fields%}
            {% if col.list %}
                {% set _ = value.pop(0) %}
                {% if col.type.upper() in ['DATE',] and rec.__getattribute__(col['name']) != None %}
                {% set _ = value.append(rec.__getattribute__(col['name']) | default(col['default'],True)  | local_date_string) %}
                {% elif col.type.upper() in ['DATETIME',] and rec.__getattribute__(col['name']) != None %}
                {% set _ = value.append(rec.__getattribute__(col['name']) | default(col['default'],True)  | local_date_and_time_string) %}
                {% elif col.type.upper() in ['PHONE',] and rec.__getattribute__(col['name']) != None %}
                {% set _ = value.append(rec.__getattribute__(col['name']) | default(col['default'],True)  | phone ) %}
                {% elif col.type.upper() in ['INT','INTEGER','NUMBER','REAL'] %}
                {% set _ = value.append(rec.__getattribute__(col['name']) | default(col['default'].True) ) %}
                {% else %}
                {% set _ = value.append(rec.__getattribute__(col['name']) | default(col['default'],True)  | string  |  truncate(35,True) ) %}
                {% endif %}
                <td onclick="window.location='{{g.editURL}}{{rec.id}}/'" class="{{col.class}}">{{ value[0] }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
{% else %}
    <tr><td colspan='{{ data.list_fields | length }}'>No records match your search</td></tr>
{% endif %}

</table>

{% if data.recs %}
{% set rec_count = data.recs | length %}
<p class="list_record_count">{{ rec_count }} {{ "record" | plural(rec_count)}}.</p>
{% endif %}