{% extends "layout.html" %}

{% block title %}{{ g.title }}{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='list_search.js') }}"></script>

{% include 'list_search_widget_ready.js' %}

{% include "anytime_head.html"%}

<script>
    function order_changed(which){
        var dir = $(which).attr('direction') || 0;
        // dir == int(dir) || 0;
        dir = parseInt(dir) + 1;
        if (dir > 1){
            dir = -1; // Decending
        } // else {
//             dir = 0 // no sort
//         }
        setOrderClasses(which.id,dir)
        $(which).attr('direction',dir);
        setDBorder('{{data.table.table_name}}',which,"{{ g.listURL }}order/","{{ g.listURL }}");
    }
</script>

{{ data.head | safe }}

{% endblock head %}

{% block body %}
    <div class="w3-row ">
      	<p class="w3-col l2 m3 s12" style="position:relative;top:-2pt;" id="addRecord">&nbsp;&nbsp;<a href="{{ g.editURL }}0/">Add a new record</a></p>
        {% if data.has_search_fields %}
        {% include "list_search_widget.html" %}
        {% endif %}
    </div>
    <p class="clear" style="margin-bottom:4pt;">&nbsp;</p>
    <div id="sg-table-list">
        {% include data.list_table_template %}
    </div>
    
{% endblock %}
